<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>会员注册</title>
</head>
<body>
    <div>

        <form method="POST" action="registerdo" enctype="multipart/form-data">

            <p>用户名：<input type="text" name="username" id="username"></p>

            <p>密码：<input type="password" name="pwd" id="pwd"></p>

            <p>手机号：<input type="text" name="mobile" id="mobile"></p>

            <p>爱好：

                <input type="checkbox" name="hobby[]" value="reading">阅读
                <input type="checkbox" name="hobby[]" value="writing">写作
                <input type="checkbox" name="hobby[]" value="sports">健身

            </p>
            <p>头像：<input type="file" name="photo" id="photo"></p>

            <p><input type="submit" value="注册"></p>

        </form>

    </div>
</body>
</html>