html, body {
    overflow: hidden;
    background-color: lightgray;
}

.container {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    padding: 10px;
    overflow: auto;
    background-color: #fff;
}

.container-item {
    height: calc(100vh - (10px));
    border: 1px solid lightgrey;
    padding: 10px;
}

.order {
    width: 407px;
}

.product {
    width: 749px;
}

.tab {
    height: 100%;
    padding: 20px;
}

.tab-content {
    height: calc(100% - 42px);
}

.tab-header-item {
    padding: 0 10px;
    line-height: 40px;
    cursor: pointer;
}

.tab-header-item.is-active {
    color: #409EFF;
    border-bottom: 2px solid #409EFF;
}

.tab-content>.tab-content-item {
    display: none;
    height: 100%;
}

.tab-content-item.is-active {
    display: block;
}

.tab-content-item .order-content {
    height: calc(100% - 57px);
    overflow: auto;
}

.tab-content .order-header, .tab-content .order-content-ul {
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
}

.tab-content .order-header .order-header-item, .tab-content .order-content .order-content-item {
    width: 82px;
    text-align: left;
}

.order-content-item p span {
    color: #409EFF;
    padding: 0 4px;
    cursor: pointer;
    font-size: 15px;
}